<div class="container-fluid">

  <br>
  <div class="col-md-4 offset-4">
    <form novalidate>
      <br>
      <p>By Template</p>
      <div class="form-group">
        <button class="btn btn-primary" (click)="changeColor('primary')">Primary</button>&nbsp;
        <button class="btn btn-danger" (click)="changeColor('danger')">Danger</button>&nbsp;
        <button class="btn btn-dark" (click)="changeColor('dark')">Dark</button>&nbsp;
        <button class="btn btn-success" (click)="changeColor('success')">Success</button>&nbsp;
        <button class="btn btn-warning" (click)="changeColor('warning')">Warning</button>&nbsp;
        <button class="btn btn-info" (click)="changeColor('info')">Info</button>&nbsp;
        <button class="btn btn-secondary" (click)="changeColor('secondary')">Secondary</button>
      </div>
    </form>
  </div>

  <br>
  <br>
  <br>

  <app-loginform></app-loginform>

</div>
